In [1]:
import pandas as pd

In [2]:
# Path to your Excel file
original_excel = "inventories_compare_new.xlsx"


# Load both sheets into separate DataFrames
# df_fy23 = pd.read_excel(excel_path, sheet_name="Schedules Mar F-23")
# df_fy24 = pd.read_excel(excel_path, sheet_name="Schedules Mar F-24")
original_excel_df_fy24_new = pd.read_excel(original_excel, sheet_name="base_tb_inventory_24")
original_excel_df_fy23_new = pd.read_excel(original_excel, sheet_name="base_tb_inventory_23")

In [3]:
original_excel_df_fy23_new.head()

,Account,Text for B/S P&L item,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,Agri,004-MDS,...,139-CORP,Total,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Corp Total,Excl TW,Hyperion code,Hyperion Description
0,24.0,Inventories..................................,53671516381.660004,22944652152.91,9009308396.48,0,1325324816.29,0,0,0,...,0,88813543698.25,888135.436983,8881.35437,NaN,NaN,0.0,8.705256e+10,0.0,0
1,463.0,Raw Material & Mfg. Componets................,36468349988.25,8158078316.8,1466552014.35,0,864491092.42,0,0,0,...,0,48421963289.93,484219.632899,4842.196329,NaN,NaN,0.0,4.695747e+10,0.0,0
2,84.0,Raw Material & Mfg. Componets................,33001594818.970001,7779327668.78,1309178305,0,864491092.42,0,0,0,...,0,44419083763.279999,444190.837633,4441.908376,NaN,NaN,0.0,4.295459e+10,0.0,0
3,23120010.0,23120010 Closing Stock- Gunny Bags,0,0,0,0,0,0,0,0,...,0,0,0,0,GL,NaN,0.0,0.000000e+00,2500140.0,Inventories - Closing - Raw Materials and Boug...
4,60110002.0,60110002 Clg Stock - Raw Material-B/s,30235079480.32,6542914168.47,1270706601,0,294446899.72,0,0,0,...,0,39807639027.620003,398076.390276,3980.763903,GL,NaN,0.0,3.834315e+10,2500140.0,Inventories - Closing - Raw Materials and Boug...

In [4]:
def clean_and_filter_df(df):
    # Remove dots from 'Text for B/S P&L item' column if it exists
    if "Text for B/S P&L item" in df.columns:
        df["Text for B/S P&L item"] = df["Text for B/S P&L item"].str.replace(".", "", regex=False)

    # Columns to retain
    keep_cols = [
        '001-AS', '133-FES', '008-SWARAJ', '002-HO', 'Powerol', 'CE', 'Agri', '004-MDS',
        'Synergy', '007-SBU', 'TW', '134-TPDS', '135-INTNL OPER', '138-CONT SOUR',
        '140-NON MRV', '141-SOURCING', '139-CORP'
    ]
    
    # Filter only those columns that exist in the dataframe
    keep_cols_filtered = [col for col in keep_cols if col in df.columns]

    return df[keep_cols_filtered]

In [5]:
inventories_fy23_values_df = clean_and_filter_df(original_excel_df_fy23_new)
inventories_fy24_values_df = clean_and_filter_df(original_excel_df_fy24_new)

In [6]:
inventories_fy23_values_df.head()

,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,Agri,004-MDS,Synergy,007-SBU,TW,134-TPDS,135-INTNL OPER,138-CONT SOUR,140-NON MRV,141-SOURCING,139-CORP
0,53671516381.660004,22944652152.91,9009308396.48,0,1325324816.29,0,0,0,0,101756237.54,1760985713.37,0,0,0,0,0,0
1,36468349988.25,8158078316.8,1466552014.35,0,864491092.42,0,0,0,0,0,1464491878.11,0,0,0,0,0,0
2,33001594818.970001,7779327668.78,1309178305,0,864491092.42,0,0,0,0,0,1464491878.11,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,30235079480.32,6542914168.47,1270706601,0,294446899.72,0,0,0,0,0,1464491878.11,0,0,0,0,0,0

In [7]:
inventories_fy23_values_df.shape

(45, 17)

In [8]:
print(inventories_fy23_values_df.columns.tolist())

['001-AS', '133-FES', '008-SWARAJ', '002-HO', 'Powerol', 'CE', 'Agri', '004-MDS', 'Synergy', '007-SBU', 'TW', '134-TPDS', '135-INTNL OPER', '138-CONT SOUR', '140-NON MRV', '141-SOURCING', '139-CORP']

In [9]:
inventories_fy24_values_df.head()

,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,Agri,004-MDS,Synergy,007-SBU,TW,134-TPDS,135-INTNL OPER,138-CONT SOUR,140-NON MRV,141-SOURCING,139-CORP
0,6.398000e+10,1.979503e+10,8.952039e+09,0,7.596576e+08,0,0,0,0,1.133456e+08,1.448141e+09,0,0,0,0,0,0
1,2.929258e+10,7.299429e+09,1.312377e+09,0,3.516687e+08,0,0,0,0,0.000000e+00,9.428187e+08,0,0,0,0,0,0
2,2.763917e+10,6.952002e+09,1.140243e+09,0,3.516687e+08,0,0,0,0,0.000000e+00,9.428187e+08,0,0,0,0,0,0
3,0.000000e+00,0.000000e+00,0.000000e+00,0,0.000000e+00,0,0,0,0,0.000000e+00,0.000000e+00,0,0,0,0,0,0
4,2.353945e+10,6.113279e+09,1.096696e+09,0,2.826361e+08,0,0,0,0,0.000000e+00,9.366226e+08,0,0,0,0,0,0

In [10]:
print(inventories_fy23_values_df.shape)
print(inventories_fy24_values_df.shape)

(45, 17)
(45, 17)

In [11]:
new_excel = "inventories_compare.xlsx"
new_df_fy24_new = pd.read_excel(new_excel, sheet_name="base_tb_inventory_24")
new_df_fy23_new = pd.read_excel(new_excel, sheet_name="base_tb_inventory_23")

In [12]:
new_df_fy24_new.head()

,Text for B/S P&L item,Unnamed: 1,Unnamed: 2,Unnamed: 3,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,...,135-INTNL OPER,138-CONT SOUR,140-NON MRV,141-SOURCING,139-CORP,Total,Total.1,Check from vlookup,Variance,GL Tagging MoQM
0,Inventories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Raw Material & Mfg. Componets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Raw Material & Mfg. Componet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Closing Stock- Gunny Bags,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GL,NaN
4,NaN,NaN,NaN,Clg Stock - Raw Material-B/s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GL,NaN

In [13]:
def trim_and_rename(df):
    df = df.iloc[:, :4]
    df.columns = ['L1', 'L2', 'L3', 'L4']
    return df

In [14]:
new_df_fy23_new = trim_and_rename(new_df_fy23_new)
new_df_fy24_new = trim_and_rename(new_df_fy24_new)

In [15]:
new_df_fy23_new.head()

,L1,L2,L3,L4
0,Inventories,NaN,NaN,NaN
1,NaN,Raw Material & Mfg. Componets,NaN,NaN
2,NaN,NaN,Raw Material & Mfg. Componet,NaN
3,NaN,NaN,NaN,Closing Stock- Gunny Bags
4,NaN,NaN,NaN,Clg Stock - Raw Material-B/s

In [ ]:
new_df_fy23_new.shape

(45, 4)

In [17]:
new_df_fy24_new.shape

(45, 4)

In [18]:
merged_df_fy23 = pd.concat([new_df_fy23_new, inventories_fy23_values_df], axis=1)
merged_df_fy24 = pd.concat([new_df_fy24_new, inventories_fy24_values_df], axis=1)

In [19]:
merged_df_fy23.head()

,L1,L2,L3,L4,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,...,004-MDS,Synergy,007-SBU,TW,134-TPDS,135-INTNL OPER,138-CONT SOUR,140-NON MRV,141-SOURCING,139-CORP
0,Inventories,NaN,NaN,NaN,53671516381.660004,22944652152.91,9009308396.48,0,1325324816.29,0,...,0,0,101756237.54,1760985713.37,0,0,0,0,0,0
1,NaN,Raw Material & Mfg. Componets,NaN,NaN,36468349988.25,8158078316.8,1466552014.35,0,864491092.42,0,...,0,0,0,1464491878.11,0,0,0,0,0,0
2,NaN,NaN,Raw Material & Mfg. Componet,NaN,33001594818.970001,7779327668.78,1309178305,0,864491092.42,0,...,0,0,0,1464491878.11,0,0,0,0,0,0
3,NaN,NaN,NaN,Closing Stock- Gunny Bags,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,Clg Stock - Raw Material-B/s,30235079480.32,6542914168.47,1270706601,0,294446899.72,0,...,0,0,0,1464491878.11,0,0,0,0,0,0

In [20]:
merged_df_fy24.head()

,L1,L2,L3,L4,001-AS,133-FES,008-SWARAJ,002-HO,Powerol,CE,...,004-MDS,Synergy,007-SBU,TW,134-TPDS,135-INTNL OPER,138-CONT SOUR,140-NON MRV,141-SOURCING,139-CORP
0,Inventories,NaN,NaN,NaN,6.398000e+10,1.979503e+10,8.952039e+09,0,7.596576e+08,0,...,0,0,1.133456e+08,1.448141e+09,0,0,0,0,0,0
1,NaN,Raw Material & Mfg. Componets,NaN,NaN,2.929258e+10,7.299429e+09,1.312377e+09,0,3.516687e+08,0,...,0,0,0.000000e+00,9.428187e+08,0,0,0,0,0,0
2,NaN,NaN,Raw Material & Mfg. Componet,NaN,2.763917e+10,6.952002e+09,1.140243e+09,0,3.516687e+08,0,...,0,0,0.000000e+00,9.428187e+08,0,0,0,0,0,0
3,NaN,NaN,NaN,Closing Stock- Gunny Bags,0.000000e+00,0.000000e+00,0.000000e+00,0,0.000000e+00,0,...,0,0,0.000000e+00,0.000000e+00,0,0,0,0,0,0
4,NaN,NaN,NaN,Clg Stock - Raw Material-B/s,2.353945e+10,6.113279e+09,1.096696e+09,0,2.826361e+08,0,...,0,0,0.000000e+00,9.366226e+08,0,0,0,0,0,0

In [21]:
merged_df_fy23.to_csv("inventories_full_fy23.csv", index=False)
merged_df_fy24.to_csv("inventories_full_fy24.csv", index=False)

In [22]:
print(merged_df_fy23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   L1              1 non-null      object
 1   L2              8 non-null      object
 2   L3              6 non-null      object
 3   L4              30 non-null     object
 4   001-AS          45 non-null     object
 5   133-FES         45 non-null     object
 6   008-SWARAJ      45 non-null     object
 7   002-HO          45 non-null     object
 8   Powerol         45 non-null     object
 9   CE              45 non-null     object
 10  Agri            45 non-null     object
 11  004-MDS         45 non-null     object
 12  Synergy         45 non-null     object
 13  007-SBU         45 non-null     object
 14  TW              45 non-null     object
 15  134-TPDS        45 non-null     object
 16  135-INTNL OPER  45 non-null     object
 17  138-CONT SOUR   45 non-null     object
 18  140-NON MRV     45 non-null     object
 19  141-SOURCING    45 non-null     object
 20  139-CORP        45 non-null     object
dtypes: object(21)
memory usage: 7.5+ KB
None